body{
    margin: 0;
    background: linear-gradient(to top, #81b54a, #436923);
}

#navigationBar{
    background: linear-gradient(to top, #81b54a, #436923);
}

#tmp, #error{
    text-align:  center;
    font: arial, sans-serif;
    color: red;
}

#errorForm{
    color: red;
}